//
// Custom
// --------------------------------------------------

:root {
  letter-spacing: $letter-spacing;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'kern', 'onum', 'liga';
}

a {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-color: getColor(text, secondary);
}

ol {
  //margin-top: 0;
  counter-reset: ol-counter;
  list-style-type: none;

  li {
    padding-bottom: 1lh;
    position: relative;
	  margin-left: 2lh;
    width: 65%;
  }

  li::before {
    position: absolute;
    left: -1lh;
    counter-increment: ol-counter;
    content: counter(ol-counter)". ";
    color: getColor(text, secondary);
  }
}

header[logo] {
  position: fixed;
  top: 1lh;
  left: 50%;
  font-size: typeScale(4);
  font-weight: bold;
  padding: 1lh;
  transform: translateX(-50%);
  color: getColor(green, darker);
  background-color: getColor(green, neon);
  z-index: 20000;
}

main[grid] {
  margin: 0
}

section[intro] {
  min-height:100vh;
  background-color: getColor(background, cover);
  padding-top: 7lh;

  // if screen size is bigger than "small"
  @media (--small) { padding-top: 9lh }
}

section[archive] {
  padding-top: 1lh;
  // if screen size is bigger than "small"
  @media (--small) { padding-top: 9lh }
}

header[small] {
  font-size: typeScale(4);
  font-weight: bold;
}

header[intro] {
  color: getColor(gray, base);
}

p[intro] {
  font-size: typeScale(4);
  margin-top: 0;
  margin-bottom: 2lh;

}

p[connect] {
  font-size: typeScale(4);
  width: 75%;
}

footer[container] {
  border-top: 1px solid whitesmoke;
  padding: 1lh;
  color: getColor(gray, light);
}
